[Desktop Entry]
Name=GambleLand
Comment=Hyprland with the c7shell Quickshell shell
Exec=Hyprland
Type=Application
DesktopNames=Hyprland
Keywords=tiling;wayland;compositor;
