[SddmGreeterTheme]
Name=c7shell
Description=c7shell greeter: glass on near-black, crimson accent
Author=crimson7
License=custom
Type=sddm-theme
QtVersion=6
Version=0.1.0
Website=https://github.com/Jonohas/c7shell
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=c7shell
Theme-API=2.0
